body {
  background: url('./images/stars3.jpeg');
}

.main-h1 {
  font-family: 'Bungee Outline', cursive;
  color: rgba(255, 0, 0, 0.6);
  font-size: 2em;
  margin-bottom: -15px;
}

.roll-dude {
  color: #fff;
  font-family: 'Monoton', cursive;
  font-size: 16px;
  letter-spacing: 7px;

}

.nav-bar {
  /*height: 100px;*/
  width: 400px;
  text-align: center;
  display: block;
  margin: 0 auto;
}

.main-h1:before {
  border-radius: 50%;
  content: ' ';
  position: absolute;
  height: 250px;
  width: 200px;
  z-index: 1;
  background-image: url('./images/donny.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 50px;
  margin-top: 70px;
  opacity: 0.2;
}

.left-container {
  float: left;
  height: 200px;
  width: 200px;
  color: #fff;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
}

.left-container:before {
  border-radius: 50%;
  content: ' ';
  display: block;
  position: absolute;
  height: 200px;
  width: 200px;
  z-index: 1;
  background-image: url('./images/thedude.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.4;
}

.right-container p,
.left-container p {
    z-index: 2;
    position: relative;
    color: #fff;
}

.right-container:before {
  border-radius: 50%;
  content: ' ';
  display: block;
  position: absolute;
  height: 200px;
  width: 200px;
  z-index: 1;
  background-image: url('./images/walter.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.4;
}

.right-container {
  float: right;
  height: 200px;
  width: 200px;
  color: #fff;
  font-family: 'Press Start 2P', cursive;
  position: relative;
}




.ball-shape {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  /*left: 150px;*/
  position: absolute;
  top: 20px;
  background: url('./images/starterball.jpeg');
  background-position: center;
  background-size: 55px 55px;
  z-index: 2;
}

.arena-dim {
  width: 745px;
  height: 540px;
  display: block;
  margin: 0 auto;
  background: url('./images/stars1.jpg');
}

.wrapper {
  width: 1000px;
  height: 680px;
  display: relative;
  margin: 0 auto;
  background: url('./images/stars3.jpeg');
  background-size: 400px 240px;
}

.arena-center {
  /*margin: 0 auto;*/
  text-align: center;
}

#score {
  position: relative;
}

.nme-shape {
  height: 42px;
  width: 42px;
  border-radius: 70%;
  background: url('./images/goodpin2.jpeg');
  background-position: center;
  background-size: 40px 40px;
  position: absolute;
  border: 1px dotted #cdd0d7;
  z-index: 2;
}

.nme-gone {
  background: #fff;
}

.starry {
  height: 42px;
  width: 42px;
  border-radius: 70%;
  background: url('./images/stars2.jpeg');
  background-position: left;
  background-size: 40px 40px;
  position: absolute;
}
