body {
  background: url('./images/stars3.jpeg');
}


.ball-shape {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  /*left: 150px;*/
  position: absolute;
  top: 20px;
  background: url('./images/starterball.jpeg');
  background-position: center;
  background-size: 55px 55px;
}

.arena-dim {
  width: 745px;
  height: 540px;
  border: 1px solid #000;
  display: block;
  margin: 0 auto;
  background: url('./images/stars1.jpg');
  border: 1px solid red;
}

.wrapper {
  width: 1000px;
  height: 680px;
  display: relative;
  margin: 0 auto;
  background: url('./images/stars3.jpeg');
  background-size: 400px 240px;
}

.arena-center {
  /*margin: 0 auto;*/
  text-align: center;
}

#score {
  position: relative;
}

.nme-shape {
  height: 42px;
  width: 42px;
  border-radius: 70%;
  background: url('./images/goodpin2.jpeg');
  background-position: center;
  background-size: 40px 40px;
  position: absolute;
  border: 1px inset #fff;
}

.nme-gone {
  background: #fff;
}
